html {
  --zen-compact-sidebar-width: calc(250 * 1px);
}

:root:has(
  [mod-sameerasw_zen_compact_sidebar_type="1"],
  [mod-sameerasw_zen_compact_sidebar_type="2"]
) {
  & [zen-compact-mode="true"] #navigator-toolbox#navigator-toolbox#navigator-toolbox {
    --zen-sidebar-width: var(--zen-compact-sidebar-width) !important;
    --actual-zen-sidebar-width: var(--zen-compact-sidebar-width) !important;
    min-width: var(--zen-compact-sidebar-width) !important;
  }
}

#zen-main-app-wrapper[zen-compact-mode="true"]
  #navigator-toolbox:not(:where(
    [zen-has-hover],
    [has-popup-menu],
    [zen-compact-mode-active],
    [zen-has-empty-tab]
  ))
  #urlbar {
  opacity: 0;
}

#main-window:not([zen-right-side="true"]):has([mod-sameerasw_zen_compact_sidebar_type="1"]) #zen-main-app-wrapper[zen-compact-mode="true"]:has([zen-user-show=""], #navigator-toolbox[zen-has-hover="true"], [has-popup-menu=""]) #zen-appcontent-wrapper
{
  --zen-sidebar-custom-width: -10px !important;
}